:root {
  --greenPrimary: #002626;
  --greenSecondary: #0e4749;
  --limonGreen: #95c623;
  --orange: #e55812;
  --beige: #efe7da;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.destinations,
.inspirations,
.imprimer,
.concept,
.connexion,
.accueil {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.fav {
  width: 40px;
  margin-top: 0.4rem;
  margin-left: -3rem;
}

.fav:hover {
  transform: scale(1.1);
  transition: ease-in;
}

@media screen and (max-width: 960px) {
  .fav,
  fav:hover {
    width: 40px;
    position: fixed;
    margin-top: 1.15rem;
    margin-left: 2rem;
  }
}
