.accueil {
  background: radial-gradient(at center center, #502d1f41 0%, #3522082c 100%),
    url("../../../images/canyon_banniere.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -80px;
  z-index: -1;
}

.clouds {
  background: url("../../../images/cloud_1.png");
  margin-top: -75px;
  height: 85%;
  width: 100%;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  animation: clouds_animation 205s linear infinite;
}
@keyframes clouds_animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2122px 0;
  }
}

.accueil h2 {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  position: absolute;
  margin-top: 1.5rem;
  padding: 20px 40px 40px 20px;
}
.description h5 {
  color: #0e4749;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 20px 40px 40px 20px;
}
.description p {
  font-family: "Roboto", sans-serif;
}
.descript h5 {
  color: #0e4749;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding: 20px 40px 40px 20px;
}
.descript p {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 960px) {
  .accueil h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .accueil h2 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .accueil h2 {
    font-size: 35px;
    margin-top: 5rem;
    text-align: center;
  }
}

@media screen and (max-width: 960) {
  .gridList {
    columns: 3;
    column-count: 3;
  }
}
.carnet.iconButton {
  color: antiquewhite;
}

/* .titreGrid {
  color: #0e4749;
  font-size: 1rem;
} */
