.link {
  font-size: 0.8rem;
  text-align: left;
  margin-left: 1.2rem;
  cursor: pointer;
}
.name {
  margin-bottom: 10px;
}
.head {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
